<table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Datetime</td>
        <td>{{result?.datetime | date:'medium'}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Sender bill number</td>
        <td>{{result.senderBillNumber}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Reciever bill number</td>
        <td>{{result.recieverBillNumber}}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Amount</td>
        <td>{{result.amount}}</td>
      </tr>
    </tbody>
  </table>
