
<div *ngFor="let item of bills">
  <div class="card w-90" style="margin: 2%; padding: 1%;">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bill number: {{item.billNumber}} </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title d-inline-block" >Balance: {{ item.balance }}</h5>
          <a [routerLink]="['/bills',item.billNumber]" class="btn btn-info d-inline-block" style="position: absolute; right: 3%;">Bill history</a>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
