
<div *ngFor="let item of posts">
  
  <div class="card w-90 col-centered">
    <div class="card-header font-weight-bolder font-italic">
      <h3>{{item.title}}</h3>
    </div>
    <div class="card-body">
      <p class="card-title font-italic"><small>Publication date: {{item.date | date:'medium'}}</small></p>
      <p class="card-text ">{{ (item.content.length>100)? (item.content | slice:0:100)+'..':(item.content) }}</p>
      <a [routerLink]="['news',item.id]" class="btn btn-primary">More</a>
    </div>
  </div>
  </div>


